@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,200&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.wrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

/*....Navbar.....*/
.navbox {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #333;
  background-color: #4f5267;
  height: 50px;
}

.navbox h2 {
  font-family: "Urbanist", sans-serif;
  color: #fff;
}
.middel {
  flex: 30%;
}

.rightside {
  flex: 30%;
}

.leftside {
  flex: 40%;
  text-align: center;
}

.middel span {
  float: right;
  margin-right: 10px;
}

.middel .log {
  text-decoration: none;
  color: #f5f5f5;
  font-family: "Urbanist", sans-serif;
}

.icon {
  color: #f5f5f5;
  font-size: 20px;
}

.links {
  display: none;
  text-align: center;
}

.buttoncol {
  margin-bottom: 10px;
}

.links span {
  padding: 10px;
}

.rightside #hidden {
  position: absolute;
  left: 0;
  top: 75px;
  height: auto;
  width: 100%;
  background-color: #4f5267;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.rightside button {
  border: none;
  background-color: transparent;
}

.burger {
  font-size: 25px;
  color: #f5f5f5;
  cursor: pointer;
}

.navlink {
  text-decoration: none;
  font-family: "Urbanist", sans-serif;
  color: #fff;
  margin-bottom: 10px;
  width: 100%;
  padding: 5px;
}

.navlinkcart {
  text-decoration: none;
  color: #fff;
  margin-bottom: 10px;
  margin-top: 5px;
}

/*-------Banner-------*/

.banner {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-family: "Urbanist", sans-serif;
  background-color: #568203;
  color: #f5f5f5;
  padding: 2px;
  height: 25px;
  font-weight: bold;
}

.ekstrabanner {
  display: none;
}

.ic {
  color: #f5f5f5;
}

@media screen and (min-width: 900px) {
  .rightside button {
    display: none;
  }

  .rightside #hidden {
    display: none;
  }

  .links {
    display: block;
  }

  .navbox {
    flex-direction: row;
  }

  .navlink {
    font-size: 17px;
  }

  .buttoncol {
    color: #f5f5f5;
  }

  .navbox h2 {
    font-size: 45px;
  }

  .navbox {
    height: 60px;
  }
  .ekstrabanner {
    display: block;
  }
}

/*-----------------Loader-------------*/

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 99999999;
  overflow: hidden;
  background: black;
  text-align: center;
}

.spinner {
  border: 5px solid lightgreen;
  border-radius: 50%;
  border-top: 5px solid lightcyan;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
  /* Safari */
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
